CHROMEDRIVER_LOCATION=/app/.chromedriver/bin/chromedriver
INSTAGRAM_PASSWORD=password
INSTAGRAM_USERNAME=username
INSTAPY_WORKSPACE=.
PROXY_TYPE=Serveo
SERVEO_HOST=serveo.net
SERVEO_PORT=1111
TAGS_TO_FOLLOW="#instadaily #travelgram"
TAG_BLACKLIST="#rain #thunderstorm"
SLEEP_TIME=7200
UNFOLLOW_NUMBER=80
FOLLOW_PERCENTAGE=35
